.inventory-container {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 50px;
}

.inventory-container .ant-typography-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
  background-color: #6ec575;
}

.inventory-container .ant-table {
  background-color: #6ec575;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}

.inventory-container .ant-table-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.inventory-container .ant-table-pagination {
  margin-top: 50px;
  text-align: right;
}
.inventory-container .ant-table-thead > tr > th {
  background-color: #1d8a26;
}
